<!DOCTYPE html>
<html lang="en">

    <!-- PARTIAL DEL HEAD-->
<%- include("../partials/head.ejs")%>

<body>
   
       <!-- PARTIAL DEL HEADER-->
       <%-include ("../partials/header.ejs") %>

<div class="contenedor-general"> 

    <div class="menu-horizontal-pd"><a class = "a-pd" href="/" > Inicio /</a><a class = "a-pd" href="/product">Productos /</a> <a class = "a-pd" href="/products"><%= producto.category %>  /</a> <a class = "a-pd" href="#"><strong><%= producto.name %> </strong></a></div>

 <main>
    <!-- MAIN PAGINA DE PRODUCTOS DETALLADOS-->

    <div class="Contenedor-general-pd">

        <!--SECCION IZQUIERDA DE LA PAGINA PRINCIPAL-->

            <section class="div-imagen-izquierda-pd">

                <img src= "/images/productos/<%= producto.image %>">
                 <p><%= producto.description %> </p>
            </section>

        <!--SECCION DERECHA DE LA PAGINA PRINCIPAL-->

    <section class="div-derecha-pd">
        <h1><%= producto.name %> </h1>
        <p class="precio-Pd"> $ <%= producto.price %> </p>
        <!-- <a class = "a-pd" href="#"><strong> 18</strong> cuotas de <strong>$170.83</strong></a><br> -->
        <a class = "a-pd" href="#">ver medios de pago</a>
        <h4>color:</h4>
        <p class="cubo"></p>
        <p class ="cubo"></p>
        <p class ="cubo"></p>
        
    
        <label>Cantidad</label>
        <select class="selec-pd" name="" id="">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="3">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
        </select>

        <button type="submit" class="boton-agregar-pd">Agregar a Carrito</button>

        <p>Si ya agregaste este producto podras ir a <a class = "a-pd"href="/productos/carrito">mi carrito</a></p>


    </section>



</main>
</div>
           <!-- PARTIAL DEL FOOTER-->
<%-include ("../partials/footer.ejs") %>

</body>
</html>
