<!DOCTYPE html>
<html lang="en">
    <!-- PARTIAL DEL HEAD-->

    <%- include("../partials/head.ejs")%>

<body>

           <!-- PARTIAL DEL HEADER-->
<%-include ("../partials/header.ejs") %>
   
<main class="main-contactos">

    <section class="section-derecha-contacto">
        <form class="formulario-contacto" action= "/productos/<%= product.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
            <div class="div-formulario-contacto">
                <label for="identificador"><strong>IDENTIFICADOR</strong></label>
                <input type="number" name="identificador" id="identificador" value="<%= product.id %>" class="formulario-input-contacto">
            </div>

            <div class="div-formulario-contacto">
                <label for="name"><strong>NOMBRE</strong></label>
                <input type="text" name="name" id="name" value="<%= product.name %>" class="formulario-input-contacto">
            </div>
            <div class="div-formulario-contacto">
                <label for="description"><strong>DESCRIPCION</strong></label>
                <input type="text" name="description" id="description" value="<%= product.description %>" class="formulario-input-contacto">
            </div>
            <div class="div-formulario-contacto">
                <label for="image"><strong>IMAGEN DEL PRODUCTO</strong></label>
                <input type="file" name="image" id="image" class="formulario-input-contacto" value = "<%=product.image%>">
            </div>
          
            <div class="div-formulario-contacto">
              <label for="category"><strong>CATEGORIAS</strong></label>
              <select class="formulario-input-contacto" name="id_category" id="id_category">
                <% categorie.forEach(category => { %>
                <option value="<%= category.id %>"><%=category.name %></option>
               <% }) %> 
                
            </select>
            </div>
  
            <div class="div-formulario-contacto">
              <label for="price"><strong>PRECIO</strong></label>
              <input type="number" name="price" id="price" value="<%= product.price %>" class="formulario-input-contacto">
          </div>
  
          <div class="div-formulario-contacto">
              <label for="promo"><strong>PROMOCIÓN</strong></label>
              <select class="formulario-input-contacto" name="id_offer" id="id_offer">
                <% offer.forEach(offers => { %>
                    <option value="<%= offers.id %>"><%=offers.description %></option>
                   <% }) %> 
                
            </select>
            </div>
  
  
            <div class="div-formulario-contacto">
              <label for="stock"><strong>STOCK</strong></label>
              <input type="number" name="stock" id="stock" value="<%= product.stock %>" class="formulario-input-contacto">
          </div>
          <button type="submit" class="formulario-boton-fr">Modificar producto</button>
        </form>
  </section>
</main>  
</body>
</html>