<!DOCTYPE html>
<html lang="en">

    <!-- PARTIAL DEL HEAD-->

    <%- include("../partials/head.ejs")%>

<body>

          <!-- PARTIAL DEL HEADER-->
<%-include ("../partials/header.ejs") %> 
        
    <!--MAIN DEL CUERPO DE LOS PRODUCTOS-->

 
<main>
<div class="contenedor-general">
    <!-- BARRA DE BUSQUEDA-->
        <div class="div-search-productos">
            <div class="barra-nav-productos">
               <i class="lupa-nav-productos"></i>
                <input class= "input-nav-productos" type="text" name="search" id= "search" placeholder="Buscar...">
            </div>
        </div>
    
        <!--MENU HORIZONTAL-->
    <section class="Contenedor-menu-lista">
        <div class="menu-horizontal"><a href="/" > Inicio /</a> <a href="/productos"><strong>Productos</strong></a></div>
    

            <!--MENU DESPLEGABLE-->

        <div class="lista-conteiner-productos">
                <label>Ordena por..</label>
                    <select name="list-options">
                        <option value = "Precio Mayor a Menor"><a href="/productos/carrito">carritos</a></option>
                        <option value = "Precio Menor a Mayor">Precio Menor a Mayor</option>
                        <option value = "A-Z">A-Z</option>
                        <option value = "Z-A">Z-A</option>
                        <option value = "Mas Vendido" selected >Mas Vendido</option> require
                    </select>
        </div>
    </section>

    <!-- FILTRO DE TIPO DE PRODUCTO -->

    <div class="header-filter">
        <nav class="nav-bar-filter">
                <ul class="nav">
                    <li><a href="/productos/filtro/1">Planta Interior</a></li>
                    <li><a href="/productos/filtro/2">Planta Exterior</a></li>
                    <li><a href="/productos/filtro/3">Accesorios</a></li>
                    <li><a href="/productos/filtro/4">Fertilizantes</a></li>
                    <li><a href="/productos/filtro/5">Macetas</a></li>
                    <li><a href="/productos/filtro/6">Deco</a></li>
                </ul>
        </nav>
    </div> 

    <!--LISTADO DE PRODUCTOS-->
    <section class="products">
        <% productos.forEach (producto => { %>
            <article class="products-container">
                <div class="description-product">
                    <a href ="/productos/<%= producto.id %> "><img src= "/images/productos/<%= producto.image %>" alt="Imagen no encontrada" enctype= ></a>
                    <h4 class="name"><%= producto.name %></h4>
                    <p class="price">$<%= producto.price %></p>
                    <p class="category"><%=producto.categorie.name %></p>
                    <a href ="/productos/<%= producto.id %> "><button class="buttom-detail">Ver detalle</button></a><a href ="productos/carrito"><button class="buttom-cart">Agregar a carrito</button></a>
                </div>
                
            </article>
        <% })%> 
    </section>


    </div>  
    </main>

           <!-- PARTIAL DEL FOOTER-->
<%-include ("../partials/footer.ejs") %>
    
</body>
</html>