<!DOCTYPE html>
<html lang="en">
    <!-- PARTIAL DEL HEAD-->
    <%- include("../partials/head.ejs")%>
<body>
    <!-- PARTIAL DEL HEADER-->
    <%-include ("../partials/header.ejs") %>

    <!-- INICIO MAIN  -->
    <div class="contenedor-general">
    <!--MENU HORIZONTAL-->
    <div class="menu-horizontal"><a href="/" > Inicio /</a> <a href="/">Mi Cuenta /</a> <a href="#"><strong>Registro</strong></a></div>

    <!--INICIO DE FORMULARIO-->
    <main class= "Main-fr">
        <section class= "section-fr">

            <form action ="/usuario/registrarse" method ="POST" class="form-fr">

                <p class= "formulario-titulo-fr"><strong> Unite a nuestra comunidad!</strong></p>

            <div class="fomulario-div-fr">
                <label for="name"><strong>NOMBRE</strong></label>
                <input type="text" name="name" id="name" class="formulario-input-fr"
                value="<%= locals.old && old.name ? old.name : '' %>">
                <% if(locals.errors && errors.name){ %>
                    <%= errors.name.msg %>
                <% } %> 
            </div> 
            <div class="fomulario-div-fr">  
                <label for="email"><strong>EMAIL</strong></label>
                <input type="email" name="email" id="email" class="formulario-input-fr" value="<%= locals.old && old.email ? old.email : '' %>">
                <% if(locals.errors && errors.email){ %>
                    <%= errors.email.msg %>
                <% } %>
            </div> 
            <div class="fomulario-div-fr">               
                <label for="tel"><strong>TELÉFONO</strong></label>
                <input type="tel" name="tel" id="tel" placeholder="  011-123-4567" class="formulario-input-fr">
                <% if(locals.errors && errors.tel){ %>
                    <%= errors.tel.msg %>
                <% } %>
            </div> 
            <div class="fomulario-div-fr"> 
                <label for="password"><strong>CONTRASEÑA</strong></label>
                <input type="password" name="password" id="password" class="formulario-input-fr">
                <% if(locals.errors && errors.password){ %>
                    <%= errors.password.msg %>
                <% } %>
            </div>  
            <div class="fomulario-div-fr">  
                <label for="confirm"><strong>CONFIRMAR CONTRASEÑA</strong></label>
                <input type="password" name="confirm" id="confirm" class="formulario-input-fr">
                <% if(locals.errors && errors.confirm){ %>
                    <%= errors.confirm.msg %>
                <% } %>
            </div> 

                <button type="submit" class="formulario-boton-fr">CREAR CUENTA</button>
                
               
                <p> Si ya perteneces a nuestra comunidad entonces..<br><a href="/login">Iniciá sesión</a></p>
            
            </form>
        
        </section>
    
    </main>
</div>
    <%-include ("../partials/footer.ejs") %>
    </body>
</html>