<!DOCTYPE html>
<html lang="en">

    <!-- PARTIAL DEL HEAD-->

<%- include("../partials/head.ejs")%>

<body>

       <!-- PARTIAL DEL HEADER-->
<%-include ("../partials/header.ejs") %>
   

    <br>
<div class="contenedor-general">
    <main>
        <section class= "hero">
            <div class= "hero-container">
                <ul> 
                    <li><img src="../images/hero/todo-en-un-solo-lugar.png" alt=""></li>
                    <li><img src="../images/hero/6.png" alt=""></li>
                    <li><img src="../images/hero/5.png" alt=""></li>
                    <li><img src="../images/hero/7.png" alt=""></li>
                </ul>
            </div>
            
        </section>
        <section class= "opciones-catalogo">
            <a href="/productos/filtro/1">
                <section class= "opcion" id= "opcion1">
                    <p class="titulo-opcion">PLANTAS INTERIOR</p>
                </section>
            </a>
            <a href= "/productos/filtro/2">
                <section class= "opcion" id= "opcion2">
                    <p class="titulo-opcion">PLANTAS EXTERIOR</p>
                </section>
            </a>
            <a href= "/productos/filtro/6">
                <section class= "opcion" id= "opcion3">
                    <p class="titulo-opcion">DECO</p>
                </section>
            </a>
            <a href= "/productos/filtro/5">
                <section class= "opcion" id= "opcion4">
                    <p class="titulo-opcion">MACETAS</p>
                </section>  
            </a>
            <a href= "/productos/filtro/3">
                <section class= "opcion" id= "opcion5">
                    <p class="titulo-opcion">ACCESORIOS</p>
                </section>    
            </a>
            <a href= "/productos/filtro/4">
                <section class= "opcion" id= "opcion6">
                    <p class="titulo-opcion">FERTILIZANTES</p>
                </section>
            </a>
        </section>
        <p class="titulo-pd">PRODUCTOS DESTACADOS</p>
        <section class= "section-productos-destacados">
            <section><a href= "/productos/1"><img class= "producto-destacado" src= "/images/productos/<%= productos[0].image %>"></a></section>
            <section><a href= "/productos/2"><img class= "producto-destacado" src= "/images/productos/<%= productos[1].image %>"></a></section>
            <section><a href= "productos/32"><img class= "producto-destacado" src= "/images/productos/<%= productos[31].image %>"></a></section>
            <section><a href= "/productos/61"><img class= "producto-destacado" src= "/images/productos/<%= productos[60].image %>"></a></section>
            <section><a href= "/productos/51"><img class= "producto-destacado" src= "/images/productos/<%= productos[50].image %>"></a></section>
        </section>
    </main>
</div> 

           <!-- PARTIAL DEL FOOTER-->
    <%-include ("../partials/footer.ejs") %>
    
 </body>
</html>