<!DOCTYPE html>
<html lang="en">
    <!-- PARTIAL DEL HEAD-->
    <%- include("../partials/head.ejs")%>
<body>

        <!-- PARTIAL DEL HEADER-->
        <%-include ("../partials/header.ejs") %>

     <!-- INICIO MAIN  -->
    <div class="container-loguin">
        <div class="menu-horizontal"><a href="/" > Inicio /</a> <a href="/">Mi Cuenta /</a> <a href="#"><strong>Login</strong></a></div>
    
        <main class= "register-main">
            <section clas= "login-form">
    
                <form action ="/usuario/iniciar-sesion" method ="POST" class="formulario-login">
    
                    <p class= "title"><strong>Iniciar Sesión</strong></p>
                    
                    <div class="formulario-login-div">
                        <label for="email"><strong>EMAIL</strong></label>
                        <input type="email" name="email" id="email" placeholder= "email@email.com" 
                        class="formulario-login-input <%= locals.errors && errors.email ? "error-border" : null %>" 
                        value="<%= locals.old && old.email ? old.email : '' %>"> 
                        <% if(locals.errors && errors.email){ %>
                            <div class="fr-error">
                            <%= errors.email.msg %>
                        <% } %>
                        <div class= "errorEmail errorMensaje"></div>
                    </div>
                    
                    <div class="formulario-login-div">
                        <label for="password"><strong>CONTRASEÑA</strong></label>
                        <input type="password" name="password" id="password" placeholder="Contraseña" 
                        class="formulario-login-input <%= locals.errors && errors.password ? "error-border" : null %>">
                        <% if(locals.errors && errors.password){ %>
                            <div class="fr-error">
                                <%= errors.password.msg %>
                            </div>
                        <% } %>
                        <div class= "errorPw errorMensaje"></div>
                    </div>
                    <div class="recordar-usuario-div">
                        <label class="recordar-usuario-label">
                            <input type="checkbox" name="recordar_usuario" class="recordar-usuario-input"> RECORDAR USUARIO
                        </label>
                    </div>
                    <p><a href="" class="contraseña-olvidada">¿Olvidaste tu contraseña?</a></p>
                    
    
                    <button type="submit" class="boton-login">Ingresar</button>
                    
                    <p class="crea-tu-cuenta">¿No formas parte de nuestra comunidad? <br><a href="/usuario/registrarse"> Creá tu cuenta</a></p>
                </form>
    
            </section>
        </main>
     </div>
     <!-- FIN MAIN  -->

     <!-- INICIO FOOTER  -->
          <!-- PARTIAL DEL FOOTER-->
          <%-include ("../partials/footer.ejs") %>
          <script src= "/js/login.js" ></script>
        <!-- FIN FOOTER  -->
    </body>
</html>